@import url("https://fonts.googleapis.com/css?family=Roboto:700");
@import 'partials/_reset';

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fcfcfc;
    padding: 1em;
}

h1 {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: calc(1em + 5vmin);
    font-weight: 700;
    color: #111;
}